1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

Ans)       * = mathematical operator (multiplication)

     'hello' = string

      - 87.8 = float

           - = mathematical operator (subtraction)

           / = mathematical operator (float division)
 
           + = mahematical operator (addition)

2. What is the difference between string and variable?

Ans) 1) String is a combination of characters which is enclosed by a single or double quote, While variable is a memory location or entity which stores or holds a value, a character or combination of character is assigned to a value with '=' sign. 

2) A string can be stored in a variable but a string can't store a variable

3) string can hold any character or expression or real/imaginary number inside it's quotes while variable has restrictions as it can hold only a character or list of characters or characters with some expressions.

Example = 'a' , "ashu", "Ashu !@#$%&((&)_/ 1511515" are examples of String 
          a = 10 , ashu = input() , x = y + 2 , y = 4

In [ ]:
3. Describe three different data types.

Ans)

Int =  """Int or integer is a data type which holds all the whole numbers from - infinity to + infinity, while type casting we use
int("any numeric value") to convert the data type"""

    x = 4 #4 here is an integer
    x = 4.0 #this is not an integer but a float
    type(x) = int
    
    
Float = "All the numbers with it's decimal points are called as float numbers"
      #examples
      y = 4.23 , ashu = - 1.1
        type(y) = float        

Complex = """A complex number is a type of data which has combination of real and an Imaginary number in mathematical terms imaginary 
number is presented as i but in python it is presentated as j"""

#examples 
x = 4 + 14j 
type(x) = complex

Q4. What is an expression made up of? What do all expressions do?

Ans) Expressions are set of operators and operands which function together to output some value when attatched with a set of numbers.

Types :-

Addition :- '+' , 1 + 2 = 3

Subtraction :- '-', 2 - 1 = 1

Multiplication :- '*' , 2*2 = 4

Integer Divion :- '//' , 5 // 2 = 2 #results in integers

Float Division :- '/' , 5//2 = 2.5 #results in float

Remainder Division :- '%' , 4//2 = 0 #remainder is 0 when 4 is divided by 2

Exponent :- '**' , 2**2 = 4 , 2**3 = 8, #double astericks followed a number will raise it according to the number specified

Q5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Ans) Assignment statements are used to assign a value to variable whilst expressions are set of operators like  +, -, / , // , ** , % which are used to produce an output when it is treated by values. '=' is an assignment statement.

x = 2 #assignment statement in which x is assigned to a value 2.

2 + 3 = 5 #addition expression

In [1]:
#Q6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

23

In [ ]:
#Q7. What should the values of the following two terms be?

x = 'spam' + 'spamspam'
print(x)

In [2]:
x = "spam"
x*3

'spamspamspam'

Q8. Why is eggs a valid variable name while 100 is invalid?

In [3]:
100 = 2

SyntaxError: cannot assign to literal (<ipython-input-3-53c9b31c6023>, line 1)

As 100 is a literal value python cannot interpret it into a variable name therefore it can't be used as variable

In [4]:
x = 10

In [5]:
x

10

X is a unique character which can be used to define a value

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [6]:
str(10)

'10'

In [7]:
float(10)

10.0

In [8]:
int(10.0)

10

10. Why does this expression cause an error? How can you fix it?

Expression causes an error because same quotes are placed within  same quotes.

In [9]:
correct = """I have eaten ''+99+' burritos""" #triple quotes
correct

"I have eaten ''+99+' burritos"