In [1]:
import mysql.connector as curr

In [2]:
conn = curr.connect(user = 'root',password = 'admin', host = 'localhost')

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute('USE main')

In [62]:
cursor.execute('SELECT * FROM WORKER_TABLE')

In [60]:
cursor.execute("INSERT INTO WORKER_TABLE VALUES(7,'AAAAAh',60,'A','ashh.com')")

In [63]:
cursor.fetchall()

[(1, 'Ashu', 60000, 'A', 'ashuchandrasingh18@gmail.com'),
 (2, 'Rashmi', 40000, 'B', 'rashmi@gmail.com'),
 (3, 'Sarthak', 30000, 'A', 'sarthak@gmail.com'),
 (4, 'Vipul', 44000, 'C', 'vipul@gmail.com'),
 (5, 'Satish', 12000, 'B', 'Satish@gmail.com'),
 (6, 'Sotu', 12000, 'B', 'Sadsagmailcom'),
 (7, 'AAAAAh', 60, 'A', 'ashh.com')]

In [64]:
conn.commit()

In [54]:
cursor.execute('DESCRIBE WORKER_TABLE')

In [55]:
cursor.fetchall()

[('id', b'int', 'NO', 'PRI', None, ''),
 ('name', b'varchar(30)', 'YES', '', None, ''),
 ('SALARY', b'int', 'YES', '', None, ''),
 ('DEPARTMENT', b'varchar(1)', 'YES', '', None, ''),
 ('email', b'varchar(40)', 'YES', '', None, '')]

In [56]:
cursor.execute("SELECT * FROM WORKER_TABLE WHERE name IN ('Vipul','Satish') ")

# Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

In [58]:
cursor.execute("SELECT * FROM WORKER_TABLE WHERE name IN ('Vipul','Satish') ")

In [59]:
cursor.fetchall()

[(4, 'Vipul', 44000, 'C', 'vipul@gmail.com'),
 (5, 'Satish', 12000, 'B', 'Satish@gmail.com')]

# Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

In [65]:
cursor.execute("SELECT * FROM WORKER_TABLE WHERE name LIKE ('%h') AND LENGTH(6) ")

In [66]:
cursor.fetchall()

[(5, 'Satish', 12000, 'B', 'Satish@gmail.com'),
 (7, 'AAAAAh', 60, 'A', 'ashh.com')]

# Q-3. Write a query to validate Email of Employee.

In [69]:
cursor.execute("SELECT * FROM WORKER_TABLE WHERE email NOT LIKE ('%@%.%') " )

In [70]:
cursor.fetchall()

[(6, 'Sotu', 12000, 'B', 'Sadsagmailcom'), (7, 'AAAAAh', 60, 'A', 'ashh.com')]